In [1]:
pip install -r requirements.txt

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.1.1)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (1.6.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (1.24.4)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (0.13.0)
Requirement already satisfied: imblearn in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 2)) (1.11.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 2)) (1.3.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 2)) (3.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /opt/conda/lib/python3.11/site-packages (from seaborn->-r requirements.txt (line 4)) (3.8.0)
Requirement already satisfied: imbalanced-learn in /opt/conda/lib/python3.11/site-packages (from imblearn->-r requirements.txt (line 5)) (0.13.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn->-r requirements.txt (line 4)) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn->-r requirements.txt (line 5)) (0.1.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import Neccessary libraries
import numpy as np
import pandas as pd
import mlflow

# Import Visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

# Import for Model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, classification_report,f1_score, roc_curve, roc_auc_score, precision_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

#Import Sampler libraries
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import RandomOverSampler

In [3]:
mlflow.set_tracking_uri('http://mlflow-web:5000')

In [4]:
mlflow.set_experiment("experiment_diabetes")

In [5]:
mlflow.autolog()

2024/12/25 18:12:26 WARNING mlflow.utils.autologging_utils: MLflow sklearn autologging is known to be compatible with 0.24.1 <= scikit-learn <= 1.5.2, but the installed version is 1.6.0. If you encounter errors during autologging, try upgrading / downgrading scikit-learn to a compatible version, or try upgrading MLflow.
2024/12/25 18:12:27 INFO mlflow.tracking.fluent: Autologging successfully enabled for sklearn.
2024/12/25 18:12:27 INFO mlflow.tracking.fluent: Autologging successfully enabled for statsmodels.

In [6]:
df = pd.read_csv('data/data-cleaned.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,1,89,66,23,94,28.1,0.167,21,0
2,4,110,92,0,0,37.6,0.191,30,0
3,8,99,84,0,0,35.4,0.388,50,0
4,1,97,66,15,140,23.2,0.487,22,0
...,...,...,...,...,...,...,...,...,...
510,0,105,84,0,0,27.9,0.741,62,1
511,2,105,80,45,191,33.7,0.711,29,1
512,9,130,70,0,0,34.2,0.652,45,1
513,1,95,82,25,180,35.0,0.233,43,1
514,3,187,70,22,200,36.4,0.408,36,1

In [7]:
x = df.drop(columns='Outcome')
y = df['Outcome']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
304,3,163,70,18,105,31.6,0.268,28
499,0,131,88,0,0,31.6,0.743,32
441,3,193,70,31,0,34.9,0.241,25
153,7,94,64,25,79,33.3,0.738,41
501,0,104,64,37,64,33.6,0.510,22
...,...,...,...,...,...,...,...,...
398,12,92,62,7,258,27.6,0.926,44
167,1,86,66,52,65,41.3,0.917,29
275,2,155,74,17,96,26.6,0.433,27
507,8,100,74,40,215,39.4,0.661,43
511,2,105,80,45,191,33.7,0.711,29

## Create Model

In [10]:
with mlflow.start_run():
    model = RandomForestClassifier(random_state=42, n_estimators=200, max_depth=20, min_samples_split=2, min_samples_leaf=1, max_features='sqrt',criterion='gini', class_weight='balanced_subsample', bootstrap=False)
    model.fit(X_train, y_train)
    
    predictions = model.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    mlflow.log_metric("accuracy", accuracy)

2024/12/25 18:12:27 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/opt/conda/lib/python3.11/site-packages/mlflow/types/utils.py:435: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2024/12/25 18:12:29 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/opt/conda/lib/python3.11/site-packages/mlflow/types/utils.py:435: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2024/12/25 18:12:32 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/opt/conda/lib/python3.11/site-packages/mlflow/types/utils.py:435: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."

üèÉ View run awesome-shrew-749 at: http://mlflow-web:5000/#/experiments/1/runs/b06f22e29a914f50a056df9f15243eaf
üß™ View experiment at: http://mlflow-web:5000/#/experiments/1